body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
    background-color: aliceblue;
    padding: 20px;
}
header a {
    margin-right: 10px;
}
header a.active {
    color: red;
}
.todo-wrapper {
    box-sizing: border-box;
    border: 1px solid rebeccapurple;
    height: calc(100vh - 60px);
}

.App {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}
.white {
    color: white;
}
